.upload-photo {
  padding: 35px 35px 40px 35px;
  width: 364px;
  height: 220px;
  background: $mainui;
  border-radius: 4px;

  &__title {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    border-radius: 50%;
    width: 86px;
    height: 86px;
    margin-right: 15px;
  }

  &__nick {
    font-size: 16px;
    font-weight: 500;
  }

  &__close {
    background-color: transparent;
    background: url('../icons/close.svg') center center/contain no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
}
