.set-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 364px;
  height: 435px;
  background: $mainui;
  border-radius: 4px;
  padding: 40px;

  &__area {
    width: 284px;
    height: 284px;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__subtitle {
    color: #7f91a4;
    font-weight: 300;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 24px;
  }

  &__buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  &__cancel {
    margin-right: 8px;
    background: transparent;
  }
}
